@import '/CSS/variabels.css';
@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto Slab, Roboto;
}

ul,
a {
    list-style: none;
    text-decoration: none;
}

.container {
    margin: 0 13%;

}

.border-bottom {
    border-bottom: 1px solid var(--border-gray-color);
}

/* -----------  Header  ----------- */
.top-menu {
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ul-left {
    display: flex;

}

.ul-left img {
    margin-right: 1rem;

}

.ul-left p {
    font-family: roboto;
    font-size: var(--text-size-top-menu);
}

.ul-right {
    display: flex;
    gap: 1.3125rem;
}

.main-menu {
    /* height: 11.3125; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.18rem 0;
}

.main-menu ul {
    display: flex;
    gap: 2.5rem;
}

/* -----------  SECTION-1- showcase  ----------- */

.showcase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-gray-color);
    padding: 1.3125rem 11% 0 11%;
}

aside h1 {
    font-family: Roboto Slab;
    font-size: var(--text-size-h1);
    font-weight: 200;
    color: var(--text-black-color);
    margin-bottom: 3.5625rem;
}

aside p {
    font-family: Roboto;
    font-size: var(--text-size-para);
    font-weight: 200;
    color: var(--text-gray-color);
    margin-bottom: 2.875rem;
}

.btn {
    font-family: roboto;
    font-size: var(--text-size-para);
    font-weight: bold;
    background-color: var(--green-color);
    color: white;
    border: none;
    padding: 1.2rem 3.5rem;
    border-radius: 10px;
}

/* -----------  SECTION-2- about us  ----------- */

.about-us {
    display: flex;
}